@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Russo+One&family=Special+Elite&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: "Arial", sans-serif;
    transition: background-color 1s ease;
}

@font-face  {,
    font-family: "fsProMedium";
    src: url("https://g90nf.kezt.my.id/upload/file/sfpro-display-medium.otf");
    font-weight: normal;
}

@font-face  {
    font-family: "willow";
    src: url("https://g90nf.kezt.my.id/upload/file/willow.ttf");
    font-weight: normal;
}

@font-face  {
    font-family: "Brillotus";
    src: url("https://g90nf.kezt.my.id/upload/file/brillotus.otf");
    font-weight: normal;
}

#section2 {
    background: linear-gradient(to left, #ff8a80 0%, #d8d8d8 50%, #95b7ff 100%);
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}


.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}



@media (max-width: 808px) {
    
    .section {
        display: none;
        opacity: 0;
        transition: opacity 0.5s;
        height: 100%;
    }
    
    .section.active {
        display: block;
        opacity: 1;
    }
    
    .bottom-nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-around;        
        padding: 10px 0;
    }
    
    .bottom-nav > div {
        text-decoration: none;
        color: #333;
        text-align: center;
        flex: 1;
    }
    
    .bottom-nav > div > .icon {
        display: block;
        font-size: 24px;
    }
    
    .bottom-nav > div > .label {
        font-size: 10px;
    }
    
    .bottom-nav > div.active > .icon, 
    .bottom-nav > div.active > .label {
        color: #007bff;
    }
    
    .indicator {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20%;
        height: 5px;
        background-color: #007bff;
        transition: 0.3s;
    }
    
    .indicator2 {
        display: none;
    }
    
    #section1 {
        
    }
    
    #section1 > h1 {
        font-family: willow;
        font-size: 25px;
        margin-top: 350px;
    }
    
    #section1 > p {
        font-size: 15px;
        color: #007bff;
    }
    
    #section1 > .container-popup-content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background: #fff; 
    }
    
    #section1 > .container-popup-content > .status-content {
        display: flex;
        overflow-x: scroll;
        padding: 5px;
    }
    
    #section1 > .container-popup-content > .status-content > .status-item {
        width: 70px;
        border: 3px solid #007bff;
        border-radius: 50%;
        margin: 5px;
    }
    
    #section1 > .container-popup-content > .header-top {
        display: flex;
        user-select: none;
    }
    
    #section1 > .container-popup-content > .header-top > h1 {
        font-family: willow;
        font-size: 22px;
        margin: 10px 10px;
        text-align: left;
    }
    
    #section1 > .container-popup-content > .header-top > .mainButtonHeader {
        margin-left: auto;    
        color: #000000;
        transform: rotate(0deg);
        transition: transform 0.5s;
    }
    
    #section1 > .container-popup-content > .header-top > .mainButtonHeader:hover {
        margin-left: auto;
        color: #000000;
        transform: rotate(180deg);
        transition: transform 0.5s;
    }
    
    #section1 > .container-popup-content > .header-top > a {
        font-size: 22px;
        margin: 10px 10px;
        cursor: help;
        transition: 0.2s;
    }
    
    #section1 > .container-popup-content > .header-top > a:active {
        font-size: 22px;
        margin: 10px 10px;
        color: #007bff;
        transform: scale(1.1);
        cursor: help;
        transition: 0.2s;
    }
    
    #section1 > .container-popup-content > h2 {
        font-family: fsProMedium;
        font-size: 19px;
        margin: 10px 10px;
        text-align: left;
    }
    
    .item-content-home {
        width: 100%;
        padding: 0 0 3% 0;
        overflow: hidden;
        border-radius: 15px;
    }
    
    .item-content-home > img {
        width: 100%;
        box-shadow: 0 2px 5px #999;
    }
    
    .item-content-home > .menu-content {
        display: flex;
        padding: 20px 0 0 15px;
        user-select: none;
    }
    
    .item-content-home > .menu-content > .container-item-menu {
        margin-right: 20px;
        padding: 0 10px 0 10px;
        transition: 0.7s;
    }
    
    .item-content-home > .menu-content > .container-item-menu > i {
        font-size: 25px;
        transition: 0.5s;
    }
    
    .item-content-home > .deskripsi {
        font-family: fsProMedium;
        text-align: left;
        font-size: 14px;
        margin: 3% 3%;
    }
    
    .item-content-home > .header-item-content {
        width: 100%;
        color: #000000;
        text-align: left;
        padding: 0 0 0 15px;        
        color: #fff;
    }
    
    .item-content-home > .header-item-content > .username {
        display: flex;
        align-items: center;
        color: #000000;
        transition: 0.5s;
    }
    
    .item-content-home > .header-item-content > .username:hover {
        display: flex;
        align-items: center;
        transform: translateX(10px);
        transition: 0.5s;
    }
    
    .item-content-home > .header-item-content > .username > .containerName {
        margin: 0 3%;
    }
    
    .item-content-home > .header-item-content > .username > .containerName > h1 {
        font-family: "Arial", sans-serif;
        text-align: left;
        font-size: 17px;
        color: #000000;
        margin: 0;
    }
    
    .item-content-home > .header-item-content > .username > .containerName > p {
        font-family: "Arial", sans-serif;
        text-align: left;
        font-size: 10px;
        color: #555;
        margin: 0;
    }
    
    .item-content-home > .header-item-content > .username > img {
        border-radius: 50%;
        width: 40px;
        height: auto;
    }
    
    #section2 > .search {
        width: 90%;
        margin: 10px auto;
        border-radius: 50px;
        background-color: #eeeeee;
        overflow: hidden;
        color: #fff;
        display: flex;
    }
    
    #section2 > .search > input {
        background: transparent;
        border: none;
        outline: none;
        padding: 10px;
        flex: 1;
        color: #000;
    }
    
    #section2 > .search > input::placeholder {
        color: #555;
    }
    
    section2 > .search > input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
        color: #fff;
    }
    
    #section2 > .search > button {
        background-color: #408cff;
        padding: 15px 20px;
        flex: 0;
        color: #fff;
        border: none;
    }
    
    .loading-indicator {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background: #00000095;
        transform: translate(-50%, -50%);
    }
    
    .item-content-home > .date {
        font-family: fsProMedium;
        text-align: left;
        font-size: 10px;
        color: #777;
        margin: 0 3%;
    }
    
    .data-account-search {
        display: flex;
        width: 90%;
        margin: 10px auto;
        align-items: center;
        background: #fff;
        border-bottom: 1px solid #888;
        border-radius: 10px;
        transition: 0.6s;
    }
    
    .data-account-search:hover {
        display: flex;
        width: 90%;
        margin: 10px auto;
        align-items: center;
        background: #fff;
        border-bottom: 1px solid #888;
        border-radius: 10px;
        transform: scale(1.05);
        transition: 0.6s;
    }
    
    .data-account-search > img {
        width: 15%;
        height: auto;
        margin: 5px;
        border-radius: 50%;
    }
    
    .data-account-search > .item-name-search {
        
    }
    
    .data-account-search > .item-name-search > h1 {
        font-family: fsProMedium;
        font-size: 18px;
        text-align: left;
        color: #000;
        margin: 0;
    }
    
    .data-account-search > .item-name-search > p {
        font-family: fsProMedium;
        font-size: 10px;
        text-align: left;
        color: #555;
        margin: 0;
    }
    
    .popup-container-account {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #55acff;
    }
    
    .popup-container-account > iframe {
        width: 100%;
        height: 96%;
        border: none;
        outline: none;
    }
    
    .popup-container-account > .popup-header-all-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    .popup-container-account > .popup-header-all-item > a {
        text-align: left;
    }
    
    #section3 > div > .p1 {
        background: linear-gradient(to left, #D97BCD 0%, #2675E8 100%);
        font-size: 55px;
        font-family: Brillotus;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        padding: 10px;
        margin-top: 10px;
    }
    
    #section3 > div > .p2 {
        position: relative;
        top: -70px;
        color: #0071E3;
        font-size: 18px;
        font-family: fsProMedium;
    }
    
    .container-to-upload {
        display: flex;
    }
    
    .container-to-upload > .item-to-upload {
        flex: 1;
        height: auto;
        margin: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 0 6px #222;
        position: relative;
        transition: 0.6s;
    }
    
    .container-to-upload > .item-to-upload:active {
        transform: scale(0.95);
        box-shadow: 0 0 6px #ff555f;
        transition: 0.4s;
    }
    
    .container-to-upload > .item-to-upload > img {
        width: 150%;
        height: 100%;
    }
    
     .container-to-upload > .item-to-upload > button {
         position: absolute;
         bottom: 0;
         right: 0;
         background: #fff;
         border: none;
         margin: 5px;
         border-radius: 1000px;
         padding: 5px;
         color: #0071E3;
     }
     
     .bagian-ketentuan-privasi {
         font-family: fsProMedium;
         text-align: left;
         padding: 10px;
         margin-bottom: 100px;
     }
     
     .bagian-ketentuan-privasi > h1 {
         font-size: 20px;
     }
    
    .bagian-ketentuan-privasi > p {
        font-size: 15px;
        margin-left: 50px;
    }
    
    
    
    
    
    
    
    
}

@media (min-width: 808px) {
    
    .section {
        display: none;
        opacity: 0;
        transition: opacity 0.5s;
        height: 100%;
    }
    
    .section.active {
        display: block;
        opacity: 1;
    }
    
    .bottom-nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-around;        
        padding: 10px 0;
    }
    
    .bottom-nav > div {
        text-decoration: none;
        color: #333;
        text-align: center;
        flex: 1;
    }
    
    .bottom-nav > div > .icon {
        display: block;
        font-size: 24px;
    }
    
    .bottom-nav > div > .label {
        font-size: 10px;
    }
    
    .bottom-nav > div.active > .icon, 
    .bottom-nav > div.active > .label {
        color: #007bff;
    }
    
    .indicator {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20%;
        height: 5px;
        background-color: #007bff;
        transition: 0.3s;
    }
    
    .indicator2 {
        display: none;
    }
    
    #section1 {
        
    }
    
    #section1 > h1 {
        font-family: willow;
        font-size: 25px;
        margin-top: 350px;
    }
    
    #section1 > p {
        font-size: 15px;
        color: #007bff;
    }
    
    #section1 > .container-popup-content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background: #fff; 
    }
    
    #section1 > .container-popup-content > .status-content {
        display: flex;
        overflow-x: scroll;
        padding: 5px;
    }
    
    #section1 > .container-popup-content > .status-content > .status-item {
        width: 70px;
        border: 3px solid #007bff;
        border-radius: 50%;
        margin: 5px;
    }
    
    #section1 > .container-popup-content > .header-top {
        display: flex;
        user-select: none;
    }
    
    #section1 > .container-popup-content > .header-top > h1 {
        font-family: willow;
        font-size: 22px;
        margin: 10px 10px;
        text-align: left;
    }
    
    #section1 > .container-popup-content > .header-top > .mainButtonHeader {
        margin-left: auto;    
        color: #000000;
        transform: rotate(0deg);
        transition: transform 0.5s;
    }
    
    #section1 > .container-popup-content > .header-top > .mainButtonHeader:hover {
        margin-left: auto;
        color: #000000;
        transform: rotate(180deg);
        transition: transform 0.5s;
    }
    
    #section1 > .container-popup-content > .header-top > a {
        font-size: 22px;
        margin: 10px 10px;
        cursor: help;
        transition: 0.2s;
    }
    
    #section1 > .container-popup-content > .header-top > a:active {
        font-size: 22px;
        margin: 10px 10px;
        color: #007bff;
        transform: scale(1.1);
        cursor: help;
        transition: 0.2s;
    }
    
    #section1 > .container-popup-content > h2 {
        font-family: fsProMedium;
        font-size: 19px;
        margin: 10px 10px;
        text-align: left;
    }
    
    .item-content-home {
        width: 100%;
        padding: 0 0 3% 0;
        overflow: hidden;
        border-radius: 15px;
    }
    
    .item-content-home > img {
        width: 100%;
        box-shadow: 0 2px 5px #999;
    }
    
    .item-content-home > .menu-content {
        display: flex;
        padding: 20px 0 0 15px;
        user-select: none;
    }
    
    .item-content-home > .menu-content > .container-item-menu {
        margin-right: 20px;
        padding: 0 10px 0 10px;
        transition: 0.7s;
    }
    
    .item-content-home > .menu-content > .container-item-menu > i {
        font-size: 25px;
        transition: 0.5s;
    }
    
    .item-content-home > .deskripsi {
        font-family: fsProMedium;
        text-align: left;
        font-size: 14px;
        margin: 3% 3%;
    }
    
    .item-content-home > .header-item-content {
        width: 100%;
        color: #000000;
        text-align: left;
        padding: 0 0 0 15px;        
        color: #fff;
    }
    
    .item-content-home > .header-item-content > .username {
        display: flex;
        align-items: center;
        color: #000000;
        transition: 0.5s;
    }
    
    .item-content-home > .header-item-content > .username:hover {
        display: flex;
        align-items: center;
        transform: translateX(10px);
        transition: 0.5s;
    }
    
    .item-content-home > .header-item-content > .username > .containerName {
        margin: 0 3%;
    }
    
    .item-content-home > .header-item-content > .username > .containerName > h1 {
        font-family: "Arial", sans-serif;
        text-align: left;
        font-size: 17px;
        color: #000000;
        margin: 0;
    }
    
    .item-content-home > .header-item-content > .username > .containerName > p {
        font-family: "Arial", sans-serif;
        text-align: left;
        font-size: 10px;
        color: #555;
        margin: 0;
    }
    
    .item-content-home > .header-item-content > .username > img {
        border-radius: 50%;
        width: 40px;
        height: auto;
    }
    
    #section2 > .search {
        width: 60%;
        margin: 10px auto;
        border-radius: 50px;
        background-color: #eeeeee;
        overflow: hidden;
        color: #fff;
        display: flex;
    }
    
    #section2 > .search > input {
        background: transparent;
        border: none;
        outline: none;
        padding: 10px;
        flex: 1;
        color: #000;
    }
    
    #section2 > .search > input::placeholder {
        color: #555;
    }
    
    section2 > .search > input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
        color: #fff;
    }
    
    #section2 > .search > button {
        background-color: #408cff;
        padding: 10px 15px;
        flex: 0;
        color: #fff;
        border: none;
    }
    
    .loading-indicator {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background: #00000095;
        transform: translate(-50%, -50%);
    }
    
    .item-content-home > .date {
        font-family: fsProMedium;
        text-align: left;
        font-size: 10px;
        color: #777;
        margin: 0 3%;
    }
    
    .data-account-search {
        display: flex;
        width: 70%;
        margin: 10px auto;
        align-items: center;
        background: #fff;
        border-bottom: 1px solid #888;
        border-radius: 10px;
        transition: 0.6s;
    }
    
    .data-account-search:hover {
        display: flex;
        width: 70%;
        margin: 10px auto;
        align-items: center;
        background: #fff;
        border-bottom: 1px solid #888;
        border-radius: 10px;
        transform: scale(1.05);
        transition: 0.6s;
    }
    
    .data-account-search > img {
        width: 5%;
        height: auto;
        margin: 5px;
        border-radius: 50%;
    }
    
    .data-account-search > .item-name-search {
        
    }
    
    .data-account-search > .item-name-search > h1 {
        font-family: fsProMedium;
        font-size: 18px;
        text-align: left;
        color: #000;
        margin: 0;
    }
    
    .data-account-search > .item-name-search > p {
        font-family: fsProMedium;
        font-size: 10px;
        text-align: left;
        color: #555;
        margin: 0;
    }
    
    .popup-container-account {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #55acff;
    }
    
    .popup-container-account > iframe {
        width: 100%;
        height: 96%;
        border: none;
        outline: none;
    }
    
    .popup-container-account > .popup-header-all-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    .popup-container-account > .popup-header-all-item > a {
        text-align: left;
    }
    
    #section3 > div > .p1 {
        background: linear-gradient(to left, #D97BCD 0%, #2675E8 100%);
        font-size: 55px;
        font-family: Brillotus;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        padding: 10px;
        margin-top: 10px;
    }
    
    #section3 > div > .p2 {
        position: relative;
        top: -70px;
        color: #0071E3;
        font-size: 18px;
        font-family: fsProMedium;
    }
    
    .container-to-upload {
        display: flex;
    }
    
    .container-to-upload > .item-to-upload {
        flex: 1;
        height: auto;
        margin: 0 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 0 6px #222;
        position: relative;
        transition: 0.6s;
    }
    
    .container-to-upload > .item-to-upload:active {
        transform: scale(0.95);
        box-shadow: 0 0 6px #ff555f;
        transition: 0.4s;
    }
    
    .container-to-upload > .item-to-upload > img {
        width: 150%;
        height: 100%;
    }
    
     .container-to-upload > .item-to-upload > button {
         position: absolute;
         bottom: 0;
         right: 0;
         background: #fff;
         border: none;
         margin: 5px;
         border-radius: 1000px;
         padding: 5px;
         color: #0071E3;
     }
     
     .bagian-ketentuan-privasi {
         font-family: fsProMedium;
         text-align: left;
         padding: 10px;
         margin-bottom: 100px;
     }
     
     .bagian-ketentuan-privasi > h1 {
         font-size: 20px;
     }
    
    .bagian-ketentuan-privasi > p {
        font-size: 15px;
        margin-left: 50px;
    }
    
    
    
    
    
    
    
    
    
}
